# --- Python Specific ---
venv/
__pycache__/
Eyetracking/__pycache__/
*.pyc

# --- Data and Large Files ---
data/medical_qa.csv
data/markov_dictionary.json
Eyetracking/models/*.task

# --- Environment and Secret Keys ---
.env

# --- IDE Specific ---
.vscode/
.idea/

# --- OS Specific ---
.DS_Store
Thumbs.db