### For general Python dependencies
flask
flask-cors
python-dotenv

### For AI Functionality
google-genai
faster-whisper
werkzeug


### Specifically for audio processing
transformers
accelerate
librosa 
soundfile